Package: com.artikus.switcherxi
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: The iOS 11 app switcher for iOS 10 iPhones.
Maintainer: ArtikusHG
Author: ArtikusHG
Section: Tweaks
